{{>_nav}}

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <div class="card-header">
                    Buscar
                </div>
                <div class="p-2">
                    <form action="/admin/users/search">
                        <div class="input-group mt-3">
                            <input type="search" class="form-control" placeholder="Nome" name="term">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="submit">
                                    <i class="ri-search-line"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-md-9">
            <div class="row pt-3">
                <div class="col-6 col-sm-6">
                    <h1>Cadastros</h1>
                </div>
                <div class="col-6 col-sm-6 text-right">
                    <a class="btn btn-sm btn-primary" href="/admin/user/create">
                        <i class="ri-user-add-line"></i> Adicionar
                    </a>
                </div>
            </div>
            <hr>
            <table class="table table-borderless table-hover">
                <thead>
                    <tr>
                        <th scope="col">Nome:</th>
                        <th scope="col">WhatsApp:</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each user}}
                    <tr>
                        <td class="pt-4 text-uppercase">{{name}}</td>
                        <td class="pt-4 text-uppercase">{{phone}}</td>
                        <td class="pt-3"> <button class="btn btn-primary btn-sm d-block" data-toggle="modal"
                                data-target="#example{{id}}Modal">
                                <i class="ri-file-line"></i>
                            </button>
                            <div class="modal fade" id="example{{id}}Modal" tabindex="-1" role="dialog"
                                aria-labelledby="example{{id}}ModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Lançar arquivo:</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <form method="POST" action="/create/file" enctype="multipart/form-data">
                                            <div class="modal-body">
                                                <input type="hidden" name="userId" value="{{id}}">
                                                <div class="row">
                                                    <div class="col-md-9">
                                                        <input class="form-control" type="file" name="filename">
                                                    </div>
                                                    <div class="col-md-3">
                                                        <button type="submit" class="btn btn-primary">Salvar</button>
                                                    </div>
                                                </div>
                                        </form>
                                        <hr>
                                        {{#if files}}
                                        <h5>Comprovantes:</h5>
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th scope="col">Nome</th>
                                                    <th scope="col">Ações</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {{#each files}}
                                                <tr>
                                                    <td class="pt-4">{{name}}</td>
                                                    <td>
                                                        <div class="text-right">
                                                            <div class="btn-group">
                                                                <button type="button" class="btn dropdown-toggle"
                                                                    data-toggle="dropdown" aria-haspopup="true"
                                                                    aria-expanded="false">
                                                                    <i class="ri-settings-4-fill"></i>
                                                                </button>
                                                                <div class="dropdown-menu dropdown-menu-right">
                                                                    <span class="dropdown-item disabled">Ações</span>
                                                                    <a href="/assets/files/receipts/{{name}}"
                                                                        target="_blank" class="dropdown-item"
                                                                        role="button">
                                                                        Visualizar
                                                                    </a>
                                                                    <form class="p-0 m-0" action="/delete/file"
                                                                        method="POST">
                                                                        <input type="hidden" name="fileId"
                                                                            value="{{id}}">
                                                                        <button type="submit"
                                                                            class="dropdown-item text-danger"
                                                                            onclick="return confirm('Tem certeza que deseja deletar?');">
                                                                            Deletar
                                                                        </button>
                                                                    </form>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                {{/each}}
                                            </tbody>
                                        </table>

                                        {{else}}
                                        <p class="text-danger mt-2">Nenhum arquivo encontrado.</p>
                                        {{/if}}
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-dismiss="modal">Fechar</button>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="text-right">
                                <div class="btn-group">
                                    <button type="button" class="btn dropdown-toggle" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">
                                        <i class="ri-settings-4-fill"></i>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <span class="dropdown-item disabled">Ações</span>
                                        <a href="/admin/user/view/{{id}}" class="dropdown-item" role="button">
                                            Visualizar
                                        </a>
                                        <form class="p-0 m-0" action="/delete/user" method="POST">
                                            <input type="hidden" name="id" value="{{id}}">
                                            <button type="submit" class="dropdown-item text-danger"
                                                onclick="return confirm('Tem certeza que deseja deletar esse cadastro?');">
                                                Deletar
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    {{else}}
                    <tr>
                        <div class="alert alert-danger w-100" role="alert">
                            Nenhum cadastro encontrado.
                        </div>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
    {{>_footer}}
</div>